.app .body .home .content .songs-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding: 0px;

    position: static;
    width: 1632px;
    height: 232px;
    left: 0px;
    top: 24px;
}
.app .body .home .content .songs-area .text {
    position: static;
    width: 229px;
    height: 40px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #ffffff;

    margin-bottom: 16px;
}

.app .body .home .content .songs-area .song-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: static;
    width: 1648px;
    height: 80px;
    left: 0px;
    top: 56px;
    margin-bottom: 16px;
}

.app .body .home .content .songs-area .song-row .song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: static;
    width: 313.6px;
    height: 80px;
    left: 0px;
    top: 0px;

    /* Gray/400 */

    background: #414040;
    border-radius: 4px;

    margin-right: 16px;
}
.app .body .home .content .songs-area .song-row .song .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 134px;
    height: 80px;
    left: 0px;
    top: 0px;
}
.app .body .home .content .songs-area .song-row .song .details img {
    position: static;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}
.app .body .home .content .songs-area .song-row .song .details .text {
    /* position: static;
    width: 38px;
    height: 24px;
    left: 96px;
    top: 28px; */

    /* Subheading */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Gray/200 */

    color: #ffffff;

    /* Inside Auto Layout */
    margin: 0px 16px;
}

.app .body .home .content .songs-area .song-row .song .MuiSvgIcon-root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    
    position: static;
    width: 40px;
    height: 40px;
    left: 257.6px;
    top: 20px;
    
    color: #69DB7C;
    border-radius: 40px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

