.app .body .bottom-bar-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    z-index: 5;
    position: absolute;
    width: 1920px;
    height: 94px;
    left: 0px;
    top: 986px;

    background-color: #121212;
}
.app .body .bottom-bar-area .divider {
    position: static;
    width: 1920px;
    height: 1px;
    left: 0px;
    top: 0px;

    background: #d9d9d9;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.app .body .bottom-bar-area .bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: static;
    width: 1920px;
    height: 93px;
    left: 0px;
    top: 1px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
